<h1>登録中の商品</h1>
<p><%= current_user.name %>さんの商品一覧です</p>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.name %> - ¥ <%= item.price %> - <%= link_to "編集", edit_item_path(item), class: "btn btn-sm" %>
      - <%= link_to "削除", item_path(item),
      data: {
        turbo_method: :delete,
        turbo_confirm: "本当に削除しますか？"
      }, class: "btn btn-sm btn-error" %>
    </li>
  <% end %>
</ul>
